<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   	<meta name="description" content="The main base-template for the Seller app" />
	<meta name="author" content="kibuthi.A" />

	<title>
		{% block pagetitle %} <!-- page-title --> {% endblock %}
	</title>
	
	<!-- materialize style rules -->
	<!--<link rel="stylesheet" type="text/css" 
	href="{% static 'artshop/css/materialize.css' %}" /> -->

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

	<!-- material-icons.css -->
	<!--<link rel="stylesheet" type="text/css" 
	href="{% static 'artshop/icons/material-icons.css' %}" />-->

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Animate CSS Icons -->
	<!--<link rel="stylesheet" type="text/css" 
	href="{% static 'artshop/css/animate.min.css' %}" />-->

	<link rel="stylesheet"
	 href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />

	<!-- FontAwesome Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	
	<link rel="stylesheet" type="text/css" 
	href="{% static 'artshop/css/all.css' %}" />
		<!-- site logo 
	<link rel="shortcut icon" href=" 'artshop/images/favicon.ico' " /> -->
	
		<!-- custom css -->
	<link rel="stylesheet" type="text/css" 
	href="{% static 'artshop/css/rootstyle.css' %}" />
	<style type="text/css">
		/* c */
	</style>

	{% block morestyle %} <!-- additional stylesheets --> {% endblock %}

</head>
<body>

	<div class="preloader-background">
		<div class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>

	<!--<div class="navbar-fixed">-->
	<nav class="blue lighten-2" role="navigation">
		<div class="nav-wrapper container">
			
			<a id="logo-container" href="/" class="brand-logo">
				<i class="fa fa-paint-brush"></i>
				Art Shop
			</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="{% url 'all_products' %}">
						<i class="material-icons left">shopping_cart</i> Products
					</a>
				</li>
				{% if request.user.is_authenticated %}
				<li>
					<a href="{% url 'dashboardLink' %}" 
					title="{{ request.user }}'s Dashboard">
						<i class="material-icons">settings</i>
					</a>
				</li>
				<li>
					<a href="{% url 'logoutLink' %}" 
					title="Logout of your account">
						Logout
					</a>
				</li>
				{% else %}

				<li>
					<a class='dropdown-trigger' 
					href='#' data-target='dropdown1'>
						<i class="left material-icons">account_circle</i>
						Vendor Account
					</a>
				</li>

				<ul id='dropdown1' class='dropdown-content'>		
					<li>
						<a href="{% url 'sellerIndex' %}" class="" 
						title="Login into your account">
							<i class="material-icons">account_box</i>
							Sign In
						</a>
					</li>
					<li>
						<a href="{% url 'sellerRegister' %}" class="" 
						title="To register your shop account">
							<i class="material-icons">add_circle_outline</i>
							Sign Up
						</a>
					</li>
				</ul>
				{% endif %}

				{% block navlinks %}<!-- navbar links -->{% endblock %}
			</ul>

			<ul id="nav-mobile" class="sidenav">
				<li>
					<a href="#" class="">Navbar Link</a>
				</li>
			</ul>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>

		</div>
	</nav>
	<!--</div>-->

	<section class="kibPolyOpp" style="">
		<div class="container">
			<div class="row">
				<div class="col m12">

					<div class="kibBgCircleWhiteAccounts right z-depth-3" 
					style="">
						<header class="center-align">
							<h4 class="black-text">
								{% block welcome %}{% endblock %}
							</h4>
						</header>
					</div>

				</div>
			</div>
		</div>
	</section>

	{% block content %}<!-- page content -->{% endblock %}

	<section class="">
		<div class="kibSection3">
			<div class="container">
				<div class="row center-align">
					<div class="col m12">
						<ul>
							<li class="li-footer-link">
								<a href="#">
									<i class="fab fa-facebook-square"></i>
								</a>
							</li>
							<li class="li-footer-link">
								<a href="#">
									<i class="fab fa-twitter-square"></i>
								</a>
							</li>
						</ul>
						<p>
							Copyright &copy; 2018 Art Shop | Design: KibDev
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- JS files -->
	<!--<script src="{% static 'artshop/js/jquery-3.3.1.min.js' %}"></script>-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!--<script src="{% static 'artshop/js/materialize.min.js' %}"></script>-->
	<!-- Compiled and minified JavaScript -->
    <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<!--<script src="{% static 'artshop/js/smooth-scroll.polyfills.min.js' %}"></script>-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/15.2.1/smooth-scroll.polyfills.min.js"></script>
	
	<script>

	$('.dropdown-trigger').dropdown();

	$('select').formSelect();

		document.addEventListener("DOMContentLoaded", function(){
			$('.preloader-background').delay(200).fadeOut(300);
			
			$('.preloader-wrapper')
				.delay(250)
				.fadeOut();

			$('.kibBgCircleWhiteAccounts').delay(600).addClass( 'animated fadeInRightBig slow' );
		});
		
		var sellNav = $('.sellNav');//headertooltip
		sellNav.hover( function(){
			$(this).removeClass('kibSection1Nav').addClass('kibSection1NavOpp');
		}, function(){
			$(this).removeClass('kibSection1NavOpp').addClass('kibSection1Nav');
		} );

	</script>
	{% block morejs %}<!-- more scripts -->{% endblock %}

</body>
</html>