{% extends 'baseSeller.html' %}

{% block pagetitle %} Category[ {{ category_name }} ] {% endblock %}

{% block morestyle %}

{% endblock %}

{% block welcome %}
<a href="." class="black-text" 
title="Refresh Page">
	<i class="material-icons large">shopping_basket</i>
</a>
{% endblock %}

{% block content %}

<section class="section">

	<div class="row">
		<div class="col m6 offset-m3">
			<table class="responsive-table highlight">
				<caption>Products of Category[ <b> {{ category_name }} </b> ]</caption>
				<thead>
					<tr>
						<th>Image</th>
						<th>Name</th>
						<th>Price</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% if product_list %}
						{% for detail in product_list %}
						<tr>
							<td>
								<img src="{{ detail.image_one.url }}" 
								alt="{{ detail.name }}" class="responsive-img z-depth-2" 
								width="120px"
								style="height:120px !important;" />
							</td>
							<td>
								{{ detail.name }}
							</td>
							<td>
								{{ detail.price }}
							</td>
							<td>
								<a href="{% url 'product_detail_link' detail.pk %}" 
								title="View Details of the product">
									<i class="material-icons left">link</i>
									Product Details
								</a>
							</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="4" class="center-align">
								No Products Available
							</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
	
</section>

{% endblock %}

{% block morejs %}

<script>
	
	//code

</script>

{% endblock %}